# Python
__pycache__/
*.py[cod]
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
db.sqlite3

# Media uploads
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db